$borderColor: #9696963d;

#kind-selector {
	.appbody {
		display: flex;
		flex-direction: column;

		.loading {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			user-select: none;

			.rotate-icon {
				font-size: 2em;
				margin-bottom: 10px;
			}
		}

		.content {
			flex: 1;
			overflow: auto;

			.kind-group {
				display: flex;

				.groupname {
					width: 50px;
					padding: 20px;
					display: flex;
					align-items: center;
					user-select: none;
				}

				.kind-items {
					padding: 20px;
					flex: 1;
					overflow: hidden;

					.kind-item {
						display: inline-block;
						padding: 5px 20px;
						margin: 10px;
						user-select: none;
						position: relative;
						border: solid 1px #98989821;
						cursor: pointer;

						svg {
							position: absolute;
							right: 0;
							bottom: 0;
							font-size: 1.5em;
							transform: translate(2px, 2px);
							display: none;
						}

						&.selected {
							svg {
								display: inline-block;
							}
						}
					}
				}
			}
		}

		.btn-area {
			height: 50px;
			padding: 10px 20px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}