.kind-detail {
	>.kind-name {
		font-size: 32px;
		user-select: none;
		padding: 0 40px;
	}

	>.btns {
		display: flex;
		align-items: center;
		margin: 15px 0;
		user-select: none;
		padding: 0 40px;

		>div {
			display: flex;
			margin-right: 20px;
			padding: 0 20px;
			height: 40px;
			text-align: center;
			border-radius: 20px;
			cursor: pointer;
			align-items: center;
			justify-content: center;
			transition: all .2s;

			>svg {
				margin-right: 5px;
			}
		}
	}


}